<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm kiếm</title>
    <style>
        div {
            display: flex;
        }
    </style>
</head>
<body>
    <form action="../Controller/NhanVienController.php?action=TimKiemNhanVien" method="post">
        <div >
            <label for="IDNV">IDNV</label>
            <input type="radio" id="idpb" name="check" value="IDNV">
            <label for="Hoten">Họ tên</label>
            <input type="radio" id="hoten" name="check" value="Hoten">
            <label for="Diachi">Địa chỉ</label>
            <input type="radio" id="diachi" name="check" value="Diachi"> 
        </div>
        <div>
            <input type="text" id="data" name="data">
            <button type="submit">OK</button>
        </div>
    </form>
    <p><a href = "javascript:history.back()">Back</a></p>
</body>
</html>